<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
</head>
<body>


<div align= "center">
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>

<div th:insert="~{ticket/ticketOverview :: copyOverview}">copyOverview</div>
<br/>
<h3><a th:href="@{/tickets/{id}/overView(id=${ticket.getId()})}">History</a></h3>
<br/>
<h3>COMMENTS</h3>
<div th:fragment="copyComments">
<div th:each="comment : ${comments}">
    <form th:method="PATCH" th:action="@{/tickets/action/{id}(id=${ticket.getId()})}" th:object="${comment}">
    <a   th:text="${comment.getDate() + ' User:  ' + userOnComments.show(comment.getUser_id()).getFirstName()+
     userOnComments.show(comment.getUser_id()).getLastName()+'.  Comment: '+comment.getText()}">comment</a>
    </form>
</div>
<br/>
<hr/>
<form th:method="POST" th:action="@{comments}" th:object="${ticket}">
    <label for="text">Comment: </label>
    <input th:name="text" type="text" id="text">
    <br/>
    <input type="submit" name="save edit" value="Add comment"/>
</form>
</div>
</body>
</html>